<section class="ae-name-section">
    <div class="name-info-container">
        <h1>Arpit Agrawal</h1>
        <h5>About me.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h5>
    </div>
    <div class="image-container">
        <img src="./../../assets/logo-composed-1@3x.png">
    </div>
    <div class="login-container">
        <form class="login">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <div class="actions">
                <input type="submit" name="login" value="Login"> <a href="/forgot">I forgot my password</a>
              </div>
        </form>
    </div>
    <div class="register-container">
        <span>Not Registered Yet?<a>Register Now!</a></span>
    </div>
</section>